.login-page{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.sign-up-page{
    width: 100%;
    height: 100%;
    
    display: none;
    justify-content: center;
    align-items: center;
}
.forget-password-page{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.forget-code-insert-page{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.code-insert-page{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.refresh-password-page{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.registration-container {
    background: radial-gradient(circle, #212121, #1b1b1b);
    padding: 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.registration-header {
    text-align: center;
    margin-bottom: 20px;
    color: #1E90FF; 
    font-size: 2em;
}

.input-field {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 2px solid #2b2b2b; 
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s;
    background-color: #333; 
    color: #e0e0e0; 
    box-sizing: border-box;
}

.input-field:focus {
    border-color: #1E90FF; 
    outline: none;
}

.submit-button {
    width: 100%;
    padding: 12px;
    background-color: #1E90FF; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #4682B4; 
}

.form-link {
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: #888; 
    font-size: 0.9em;
}

.form-link:hover {
    color: #1E90FF; 
}

.registration-form {
    display: flex;
    flex-direction: column;
}

.success-message {
    color: #32CD32; 
    display: none;
}

.secret-section {
    display: none;
}

.error-message {
    color: #FF4500; 
    display: none;
}

.login-page,
.sign-up-page,
.forget-password-page,
.forget-code-insert-page,
.code-insert-page,
.refresh-password-page {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: none; 
}

.error-message {
    color: #FF4500;
    display: block;
}

.success-message {
    color: #32CD32;
    display: block; 
}

